*, *::before, *::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
  
}

body {
  padding: 20px;
  margin: 20px;
  background: linear-gradient(to right,pink,white);
  
}

.framework {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 80px;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: minmax(100px, auto) repeat(5, 80px);
 
}

.framework > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color:whitesmoke;
}

.framework > button:hover {
  background-color:antiquewhite;
}

.span-two {
  grid-column: span 2;
}

.answer .current-operand {
  color: white;
  font-size: 2.5rem;
}

.answer .previous-operand {
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
}

.answer {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, .75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}
